.active {
  background-color: #1d4ed8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  color: white;
  position: relative;
  top: 0;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* ul:hover li a {
  filter: blur(5px);
}

ul li a:hover {
  filter: blur(0px);
} */

.logo-text {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1.3em;
}

.logoImg {
  max-width: 100%;
  height: auto;
  max-height: 3em; /* Adjust as needed */
}

.clgLogo {
  min-width: fit-content;
  max-width: 8em;
}

nav .title {
  font-size: 1rem;
  margin: 1rem;
  font-weight: normal;
  text-decoration: none;
  color: white;
  display: flex;
  gap: 12px;
}

nav .title p {
  align-self: center;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  /* background-color: #172554; */
  background-color: #e91e63;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

@media (max-width: 800px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}
